doctype html
html(lang="en")
  head
    block title
      title= 'ES6 + Express + Flux + React'
    block styles
      link(rel="stylesheet", href="/app.min.css")
  body
    h1= 'ES6 + Express + Flux + React'
    block content
      content
